Repository CesiumGS/cesium, pull requests merged in 2020-01, with the labels that each got.

#8544 Change ReferenceProperty to return undefined instead of throw
  CHANGES.md
  Source/DataSources/ReferenceProperty.js
  Specs/DataSources/ReferencePropertySpec.js
Labels: category - data sources

#8569 Don't share geometry arrays between Batch and Primitive
  Apps/Sandcastle/gallery/development/Circle Outline.html
  Apps/Sandcastle/gallery/development/Circle.html
  Apps/Sandcastle/gallery/development/Corridor.html
  Apps/Sandcastle/gallery/development/Cylinder Outline.html
  CHANGES.md
  Source/DataSources/StaticGeometryColorBatch.js
  Source/DataSources/StaticGeometryPerMaterialBatch.js
  Source/DataSources/StaticGroundGeometryColorBatch.js
  Source/DataSources/StaticGroundGeometryPerMaterialBatch.js
  Source/DataSources/StaticGroundPolylinePerMaterialBatch.js
  Source/DataSources/StaticOutlineGeometryBatch.js
Labels: category - data sources, priority - next release

#8578 Swap CesiumMilkTruck's large PNG with a JPG.
  Apps/SampleData/models/CesiumMilkTruck/CesiumMilkTruck.glb
Labels: priority - next release
