Repository CesiumGS/cesium, pull requests merged in 2021-12, with the labels that each got.

#9971 3D Tiles: Don't double-apply transform from placeholder implicit tile
  CHANGES.md
  Source/Scene/Implicit3DTileContent.js
  Specs/Scene/Implicit3DTileContentSpec.js
Labels: type - bug, category - 3d tiles

#9970 updating Camera.changed to account for changes in heading
  CHANGES.md
  Source/Scene/Camera.js
  Specs/Scene/SceneSpec.js
Labels: type - bug, category - camera

#9175 Improved degenerate barycentric check
  CHANGES.md
  Source/Core/GeometryPipeline.js
  Source/Core/barycentricCoordinates.js
  Source/Core/pointInsideTriangle.js
  Specs/Core/barycentricCoordinatesSpec.js
Labels: category - math

#9328 KmlDataSource: fix #9327 handle relative URLs for additional elements - video, audio, iframe etc.
  Source/DataSources/KmlDataSource.js
Labels: type - enhancement, category - kml
