Repository CesiumGS/cesium, pull requests merged in 2022-02, with the labels that each got.

#10102 Require class definition in metadata constructors
  Source/Scene/GroupMetadata.js
  Source/Scene/ImplicitTileMetadata.js
  Source/Scene/JsonMetadataTable.js
  Source/Scene/MetadataEntity.js
  Source/Scene/MetadataTable.js
  Source/Scene/TileMetadata.js
  Source/Scene/TilesetMetadata.js
  Specs/Scene/GroupMetadataSpec.js
  Specs/Scene/ImplicitTileMetadataSpec.js
  Specs/Scene/MetadataEntitySpec.js
  Specs/Scene/MetadataTableSpec.js
  Specs/Scene/TileMetadataSpec.js
  Specs/Scene/TilesetMetadataSpec.js
  Specs/Scene/parseBoundingVolumeSemanticsSpec.js
Labels: category - metadata

#10139 camera.getPickRay exception when Scene is not rendered
  CHANGES.md
  Source/Scene/Camera.js
  Specs/Scene/CameraSpec.js
Labels: type - bug, category - camera

#10148 Updating the documentation for camera.getPickRay
  CHANGES.md
Labels: category - doc
