Repository CesiumGS/cesium, pull requests merged in 2024-08, with the labels that each got.

#12101 Add moon Sandcastle example
  Apps/Sandcastle/gallery/Moon.html
  Apps/Sandcastle/gallery/Moon.jpg
Labels: priority - next release

#12104 Update dependencies esbuild, earcut, and rbush
  package.json
  packages/engine/package.json
Labels: priority - next release

#12100 Use cubemaps for IBL environment maps
  CHANGES.md
  packages/engine/Source/Core/CompressedTextureBuffer.js
  packages/engine/Source/Core/KTX2Transcoder.js
  packages/engine/Source/Core/PixelFormat.js
  packages/engine/Source/Renderer/AutomaticUniforms.js
  packages/engine/Source/Renderer/Context.js
  packages/engine/Source/Renderer/CubeMap.js
  packages/engine/Source/Renderer/CubeMapFace.js
  packages/engine/Source/Renderer/PixelDatatype.js
  packages/engine/Source/Renderer/Sampler.js
  packages/engine/Source/Renderer/Texture.js
  packages/engine/Source/Renderer/UniformState.js
  packages/engine/Source/Renderer/demodernizeShader.js
  packages/engine/Source/Renderer/loadCubeMap.js
  packages/engine/Source/Scene/ImageBasedLighting.js
  packages/engine/Source/Scene/Model/ImageBasedLightingPipelineStage.js
  packages/engine/Source/Scene/OctahedralProjectedCubeMap.js
  packages/engine/Source/Scene/Scene.js
  packages/engine/Source/Scene/SkyBox.js
  packages/engine/Source/Scene/SpecularEnvironmentCubeMap.js
  packages/engine/Source/Shaders/Builtin/Functions/sampleOctahedralProjection.glsl
  packages/engine/Source/Shaders/Builtin/Functions/textureCube.glsl
  packages/engine/Source/Shaders/Model/ImageBasedLightingStageFS.glsl
  packages/engine/Source/Shaders/OctahedralProjectionAtlasFS.glsl
  packages/engine/Source/Shaders/OctahedralProjectionFS.glsl
  packages/engine/Source/Shaders/OctahedralProjectionVS.glsl
  packages/engine/Specs/Core/PixelDatatypeSpec.js
  packages/engine/Specs/Renderer/CubeMapSpec.js
  packages/engine/Specs/Scene/Model/ImageBasedLightingPipelineStageSpec.js
  packages/engine/Specs/Scene/Model/ModelSpec.js
  packages/engine/Specs/Scene/OctahedralProjectedCubeMapSpec.js
  packages/engine/Specs/Scene/SpecularEnvironmentCubeMapSpec.js
Labels: category - lighting

#12118 Add multiscattering terms to diffuse BRDF in image-based lighting
  Apps/Sandcastle/gallery/glTF PBR Extensions.html
  CHANGES.md
  packages/engine/Source/Shaders/Model/ImageBasedLightingStageFS.glsl
  packages/engine/Source/Shaders/Model/LightingStageFS.glsl
Labels: category - lighting

#12173 Update npm packages
  Documentation/Contributors/ReleaseGuide/README.md
  package.json
  packages/engine/package.json
Labels: priority - next release

#12156 Deprecation Updates for SceneTransforms Methods
  Apps/Sandcastle/gallery/Star Burst.html
  CHANGES.md
  CONTRIBUTORS.md
  packages/engine/Source/Scene/SceneTransforms.js
  packages/engine/Specs/Scene/SceneTransformsSpec.js
Labels: priority - next release, remove in 1.121
