Repository CesiumGS/cesium, pull requests merged in 2025-02, with the labels that each got.

#12458 Fix availability check in VoxelTraversal for procedural tilesets
  packages/engine/Source/Scene/Cesium3DTilesVoxelProvider.js
  packages/engine/Source/Scene/VoxelProvider.js
  packages/engine/Source/Scene/VoxelTraversal.js
  packages/engine/Specs/Scene/VoxelPrimitiveSpec.js
Labels: priority - next release

#12461 Remove deprecated createGooglePhotorealistic3DTileset key option
  CHANGES.md
  packages/engine/Source/Scene/createGooglePhotorealistic3DTileset.js
Labels: priority - next release

#12460 Fix geojson `EllipsoidRhumbLine` error for duplicated points
  CHANGES.md
  packages/engine/Source/Core/EllipsoidRhumbLine.js
  packages/engine/Source/Core/PolygonGeometryLibrary.js
  packages/engine/Specs/Core/PolygonGeometryLibrarySpec.js
Labels: PR - Changes Requested

#12469 Expose CustomShader.prototype.destroy as a public method
  CHANGES.md
  packages/engine/Source/Scene/Model/CustomShader.js
Labels: category - doc, category - typescript, category - custom shaders

#12481 Pin prettier version
  Documentation/Contributors/ReleaseGuide/README.md
  package.json
Labels: dependencies

#12482 Billboard clamping
  CHANGES.md
  CONTRIBUTORS.md
  packages/engine/Source/Scene/Scene.js
  packages/engine/Specs/Scene/SceneSpec.js
Labels: PR - Changes Requested
